absl-py
beautifulsoup4
h5py
httpx
ipywidgets
jupyter
keras
matplotlib
ml_dtypes
nba_api
networkx
notebook
numpy
pandas
protobuf
requests
rich
scikit-learn
scipy
seaborn
streamlit
sympy
tensorflow
torch
torchaudio
torchvision